            body {
                display: flex;
                /* align-items: center; */
                /* justify-content: center; */
                flex-direction: column;
                /* height: 100vh; */

                background-color: #e3e9ca;
                background-image: url("./images/white_wood_background_seamless.jpg");
                background-size: 100%;
                /* min-height: 100%; */
            }


        .timer{
                font-weight: normal;
            }

        
        .counter{
        position: absolute;
        text-align: left;
        top:85%;
        right: 4%;
        color:rgb(121, 121, 121);
        font-size: 2.1vw;
        /* font-family: 'Brush Script MT'; */
        font-family: 'French Script MT';
        font-weight: bold;
        /* transform: rotate(90deg); */
        }

        .text {
            position: relative;
            text-align: center;
            font-size: 1vw;
            font-family: 'arial';
            /* margin-top:65px; */
            /* font-weight: bold; */
            padding: 5% 10%;
        }

        .row {
            display: flex;
            /* flex-wrap: wrap; */
            padding: 0 4px;
        }

        .grid {
            display: grid;
            /* flex-wrap: wrap; */
            /* grid-gap: 5px 5px; */
            /* padding: 0 4px; */
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(10, 4.4vw);
            grid-auto-rows: minmax(10px, auto);
            grid-gap: 4px 4px;
        }

        /* Create four equal columns that sits next to each other */


            .card-container {
                position: relative;
                vertical-align: bottom;
                perspective: 1000px;
                text-align: center;
                padding: 7px 7px 7px 7px;
                /* border: 5px solid #ff0000; */
                z-index: 0;
                
            }

            .card {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.6s ease;
            transform-style: preserve-3d;
            z-index: 10;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: -5px 5px 7px 2px #0000009c;
            border-radius: 5px;
            }

            img {
            position: relative;
            vertical-align: bottom;
            border-radius: 5px;
            /* box-shadow: -5px 5px 7px 2px #0000009c; */
            backface-visibility: hidden;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }

            .back {
            display: flex;
            position: absolute;
            background: rgb(138, 138, 138);
            color: white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;
            font-size: 1vw;
            vertical-align: bottom;
            border-radius: 5px;
            /* box-shadow: -5px 5px 7px 2px #0000009c; */
            backface-visibility: hidden;
            z-index: 2;
            transform: rotateY(180deg);
            overflow: hidden;
            /* padding: 5% 10%; */
            }

            #invitation {
            position: absolute;
            /* background-color: #ffffff; */
            box-shadow: -5px 10px 10px 5px #0000009c;
            height: 160%;
            width: 240%;
            margin-top: -35%;
            margin-left: -70%;
            border-radius: 5px;
            color: black;
            /* background-image: url("images/save_can.JPG"); */
            background-size: cover;
            }

            .card-container:hover .card {
            transform: rotateY(180deg);
            box-shadow: 5px 5px 7px 2px #00000069;
            }

            .card-container:hover {
            z-index: 10;
            }


        #btnControl {
    display: none;
}

.btn {
    /* position: fixed; */
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -3px 3px 5px 1px rgba(0, 0, 0, 0.1);
    /* display: block; */
    text-align: center;
    /* left: 95%; */
    /* top: 95%; */
    border-width: 0px;
}

.btn:hover {
    background-image: linear-gradient(to bottom, #c3e3fa, #a5defb);
}


.languages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* flex-wrap: wrap; */
    /* align-content: left; */
    margin-bottom: 10px;
    margin-left: 12px;
    /* border: 2px solid #ff0000; */
}

a{
    width: 35px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 7px 2px #0000009c;
}

a:hover{
    transform: scale(120%);
    opacity: 1;
}
